@font-face {/*---------Tipografia---------*/
    /*Fonte para Títulos*/
    font-family: Brandier;
    src: url(https://befonts.com/brandier-font-family.html);
    /*Fonte para Textos Corridos*/
    font-family: Montserrat;
    src: url(https://befonts.com/montserrat-font-family.html);

}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000000; /* Cor de fundo escura */
    color: #fff; /* Cor do texto */
}

/*----------------------Tipografia-------------------------*/


h1 {
    color: #bdbdbd; /* Cor do título */
    margin-bottom: 22px;
    font-size: 3.2em;
    font-family: Brandier;
    font-weight: 800;
    
}

h2 {
    font-size: 2.3em;
    color: white;
    font-family: Brandier;
}

p {
    font-size: 1.3em;
    color: white;
    font-family: Montserrat;
}
/*----------------------------------------------------------*/

/*inicio navbar*/
.navbar {  
    background-color: #000000;
    overflow: hidden;
    padding: 15px;
    padding: 10px 15%;
    position: sticky;
    top: 0;
    z-index: 1000; /* Valor alto para garantir que esteja acima de outros elementos */
}

.navbar img {
    float: left;
    height: 50px; /* ajuste a altura conforme necessário */
}

.navbar a {
    float: right;
    display: block;
    color: #fff;
    background-color: #000000;
    text-align: center;
    padding: 14px 16px;
    font-size: 1.2em;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #555;
}
/*fim navbar*/

/*inicio - seção inicial*/
.hero-section { 
    background-image: url("img/Banner.png");
    background-size: cover;
    background-position: center;
    height: 80vh; /* 100% da altura da tela */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 100;
    position: relative;
}

.img-megafone {
    position: absolute;
    top: 65%;
    left: 75%;
    transform: translate(-50%, -50%);
}

.qsm-button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    z-index: 100;
    position: absolute;
    top:  75%;
    left: 10%;
}

.qsm-button:hover {
    background-color: #45a049;
}
/*fim - seção inicial*/


/*--------------------Conteudo geral-------------------*/
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    z-index: 100
}

.form-container {
    background-color: #ffffff00; /* Cor de fundo do formulário */
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    z-index: 100
}

#contato {
    background-color: #000000; /* Cor de fundo das seções de conteúdo */
    background-size: cover;
    background-position: center;
    height: 140vh; /* 100% da altura da tela */
    margin-top: 10px;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 100
}

.section-servicos {
    background-image: url('img/background02.jpg');
    position: relative;
    background-color: #000000; /* Cor de fundo das seções de conteúdo */
    background-size: cover;
    background-position: center;
    height: 130vh; /* 100% da altura da tela */
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 100
}

article {
    display: inline-flex;
    width: 260px;
    height: 200px;
    text-align: center;
    margin: auto;

}

.caixa-texto{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    padding-bottom: 40px;
    background-color: #3f3f3f5e;
    width: 80%;
    max-width: 800px;
    height: 50%;
    z-index: 100
}
/*----------------------------------------------------------------*/



/*------------------------inicio carrosel-------------------------*/

.carousel {
    width: 70%;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
    z-index: 100
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-slide {
    flex: 0 0 100%;
    height: 100vh; /* Ajuste conforme necessário */
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
}

label {
    width: 15px;
    height: 15px;
    background-color: #333;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
}

.prev-next-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    background-color: transparent;
    justify-content: space-between;
    transform: translateY(-50%);
}

.prev-button,
.next-button {
    font-size: 18px;
    background-color: #33333373;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}


/*------------------------fim carrossel-------------------------*/

/*--------------inicio iframe formulario google-----------------*/
iframe{
    width: 80%;
    height: 100vh; /* 100% da altura da tela */
    margin-top: 10px;
}
/*--------------fim iframe formulario google--------------------*/

/*---------------------inicio botão whatsapp--------------------*/
.whatsapp-button {
    position: fixed;
    bottom: 20px; /* Distância do fundo da página */
    right: 100px; /* Distância da borda direita da página */
    background-color: #25d36500; /* Cor verde do WhatsApp */
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    z-index: 1000; /* Valor alto para garantir que esteja acima de outros elementos */
}

.whatsapp-button img {
    width: 60px;
    height: 60px;
}
/*-----------------------fim botão whatsapp---------------------*/


/*------------------------inicio footer-------------------------*/

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-section {
    flex: 1;
    margin-bottom: 20px;
    text-align: center;
}

.footer-section h2 {
    color: #fff;
}

.footer-section p {
    color: #ccc;
}

.footer-section a {
    display: block;
    color: #ccc;
    text-decoration: none;
    margin-bottom: 5px;
}

.footer-bottom {
    margin-top: 20px;
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid #555;
}
/*------------------------fim footer-------------------------*/


/* Adiciona estilos específicos para telas menores (tablets e celulares) */
@media only screen and (max-width: 600px) {
    .section-servicos {
        height: 260vh; /* 100% da altura da tela */
    }

    .img-megafone {
        width: 20px;
        height: 20px;
    }

    .navbar a {
        float: none;
        display: block;
        text-align: right;
    }

    .navbar img {
        float: none;
        margin-bottom: 10px;
    }
    .caixa-texto p{
        padding: 20px;
    }
}
